.l-row {
    position: absolute;
}

.l-row--0 {
    margin-top: 0vh;
}

.l-row--1 {
    margin-top: 10vh;
}

.l-row--2 {
    margin-top: 20vh;
}

.l-row--3 {
    margin-top: 30vh;
}

.l-row--4 {
    margin-top: 40vh;
}

.l-row--5 {
    margin-top: 50vh;
}

.l-row--6 {
    margin-top: 60vh;
}

.l-row--7 {
    margin-top: 70vh;
}

.l-row--8 {
    margin-top: 80vh;
}

.l-row--9 {
    margin-top: 90vh;
}

.l-height--1-row {
    height: 10vh;
}

.l-height--1-rows {
    height: 10vh;
}

.l-height--2-rows {
    height: 20vh;
}

.l-height--3-rows {
    height: 30vh;
}

.l-height--4-rows {
    height: 40vh;
}

.l-height--5-rows {
    height: 50vh;
}

.l-height--6-rows {
    height: 60vh;
}

.l-height--7-rows {
    height: 70vh;
}

.l-height--8-rows {
    height: 80vh;
}

.l-height--9-rows {
    height: 90vh;
}

.l-height--10-rows {
    height: 100vh;
}

.l-height--1\/2x {
    height: 50vh;
}

.l-height--1x {
    height: 100vh;
}

.l-height--3\/2x {
    height: 150vh;
}

.l-height--1-1\/2x {
    height: 150vh;
}

.l-height--2x {
    height: 200vh;
}

.l-column--0 {
    margin-left: 0vw;
}

.l-column--1\/2 {
    margin-left: 5vw;
}

.l-column--1 {
    margin-left: 10vw;
}

.l-column--1-1\/2 {
    margin-left: 15vw;
}

.l-column--2 {
    margin-left: 20vw;
}

.l-column--2-1\/2 {
    margin-left: 25vw;
}

.l-column--3 {
    margin-left: 30vw;
}

.l-column--3-1\/2 {
    margin-left: 35vw;
}
.l-column--4 {
    margin-left: 40vw;
}

.l-column--4-1\/2 {
    margin-left: 45vw;
}
.l-column--5 {
    margin-left: 50vw;
}

.l-column--5-1\/2 {
    margin-left: 55vw;
}

.l-column--6 {
    margin-left: 60vw;
}

.l-column--6-1\/2 {
    margin-left: 65vw;
}

.l-column--7 {
    margin-left: 70vw;
}

.l-column--7-1\/2 {
    margin-left: 75vw;
}

.l-column--8 {
    margin-left: 80vw;
}

.l-column--8-1\/2 {
    margin-left: 85vw;
}

.l-column--9 {
    margin-left: 90vw;
}

.l-column--9-1\/2 {
    margin-left: 95vw;
}

.l-rl-column--0 {
    right: 0vw;
}

.l-rl-column--1\/2 {
    right: 5vw;
}

.l-rl-column--1 {
    right: 10vw;
}

.l-rl-column--1-1\/2 {
    right: 15vw;
}

.l-rl-column--2 {
    right: 20vw;
}

.l-rl-column--2-1\/2 {
    right: 25vw;
}

.l-rl-column--3 {
    right: 30vw;
}

.l-rl-column--3-1\/2 {
    right: 35vw;
}
.l-rl-column--4 {
    right: 40vw;
}

.l-rl-column--4-1\/2 {
    right: 45vw;
}
.l-rl-column--5 {
    right: 50vw;
}

.l-rl-column--5-1\/2 {
    right: 55vw;
}

.l-rl-column--6 {
    right: 60vw;
}

.l-rl-column--6-1\/2 {
    right: 65vw;
}

.l-rl-column--7 {
    right: 70vw;
}

.l-rl-column--7-1\/2 {
    right: 75vw;
}

.l-rl-column--8 {
    right: 80vw;
}

.l-rl-column--8-1\/2 {
    right: 85vw;
}

.l-rl-column--9 {
    right: 90vw;
}

.l-rl-column--9-1\/2 {
    right: 95vw;
}

.l-width--1-column {
    width: 10vw;
}

.l-width--1-columns {
    width: 10vw;
}

.l-width--2-columns {
    width: 20vw;
}

.l-width--3-columns {
    width: 30vw;
}

.l-width--4-columns {
    width: 40vw;
}

.l-width--5-columns {
    width: 50vw;
}

.l-width--6-columns {
    width: 60vw;
}

.l-width--7-columns {
    width: 70vw;
}

.l-width--8-columns {
    width: 80vw;
}

.l-width--9-columns {
    width: 90vw;
}

.l-width--1x {
    width: 1000vw;
}